@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';


@font-face {
  font-family: sahel;
  src: url(./../../assets/fonts/Sahel.ttf);
}

@font-face {
  font-family: number;
  src: url(./../../assets/fonts/Dirooz-FD.woff2);
}
  
*{
  font-family: number;
}

.suppot-bg {
  background-image: url(./../../assets/images/support.png);
  background-size: cover;
  background-repeat: no-repeat;
}